tables/
astroNN/
mirror_data/
astroNN.egg-info/
setup.md
pickles/kepler/
.ipynb_checkpoints/
models/regression/BaselineNN.h5
models/spectra_embeddings/__pycache__
vrad.ipynb
\train*
*.pyc
train/
test.py
*.h5
